@font-face {
    font-family: 'Tinkoff Sans';
    src: url('OlegSans.eot');
    src: url('OlegSans.eot?#iefix') format('embedded-opentype'),
        url('OlegSans.woff2') format('woff2'),
        url('OlegSans.woff') format('woff'),
        url('OlegSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

