@font-face {
    font-family: 'Grtsk Peta';
    src: url('GrtskPeta-Semibold.eot');
    src: url('GrtskPeta-Semibold.eot?#iefix') format('embedded-opentype'),
        url('GrtskPeta-Semibold.woff2') format('woff2'),
        url('GrtskPeta-Semibold.woff') format('woff'),
        url('GrtskPeta-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

