@import './breackpoints';

:root {
  /*dimension*/
--main-notbigget-size: 64px;
--main-largest-size: 48px;
--main-larger-size: 36px;
--main-large-size: 24px;
--main-bigger-size: 18px;
--main-size: 16px;
--main-small-text: 14px;
--main-smallest-text: 12px;
--main-input-label-size: 12px;
--main-input-radius: 0;
--main-input-border-width: 1px;
--main-input-label-offset-left: 27px;
--main-padding: 20px;
--main-section-padding-vertical: 100px;
--main-input-label-offset-top: 5px;
--main-input-horizontal-padding: 25px;
--main-input-vertical-padding: 20px;
--main-scrollbar-width: 5px;
--main-scrollbar-thumb-borderradius: 10px;

  /*color*/
--main-color: #FF00FB;
--main-light-color: #86FF00;
--main-transparent: rgba(255, 0, 255, 0.1);
--main-dark-color: #a904a6;
--main-success-color: rgb(4, 191, 16);
--main-danger-color: rgb(255, 77, 77);
--main-hover-color: #c505c2;
--main-active-color: var(--main-dark-color);
--main-disable-color: var(--gray-1);
--main-positive-color: #181818;
--main-text-color: var(--main-positive-color);
--main-negative-color: rgb(26, 26, 26);
--main-input-placeholder-color: var(--main-light);
--main-input-border-color: var(--main-color);
--main-input-background-color: var(--dark-2);
--main-light: #fff;
--gray-1: rgb(237, 237, 237);
--gray-2: #908494;
--gray-3: #B3B1B4;
--dark-1: #363636;
--dark-2: #000;
}

@media screen and (max-width: $bp-phones) {
  :root {
    --main-section-padding-vertical: 50px;
    --main-notbigget-size: 36px;
    --main-largest-size: 36px;
    --main-larger-size: 24px;
    --main-large-size: 18px;
    --main-bigger-size: 16px;
    --main-small-text: 12px;
    --main-smallest-text: 10px;
  }
}

