@import './variables/breackpoints';

:root {
--main-notbigget-size: 64px; /*dimension*/
--main-largest-size: 48px; /*dimension*/
--main-larger-size: 36px; /*dimension*/
--main-large-size: 24px; /*dimension*/
--main-bigger-size: 18px; /*dimension*/
--main-size: 16px; /*dimension*/
--main-small-text: 14px; /*dimension*/
--main-smallest-text: 12px; /*dimension*/
--main-horizontal-padding: var(--main-size); /*dimension*/
--main-input-label-size: 16px; /*dimension*/
--main-input-radius: 0; /*dimension*/
--main-input-border-width: 1px; /*dimension*/
--main-input-label-offset-left: 27px; /*dimension*/
--main-padding: 20px; /*dimension*/
--main-section-padding-vertical: 100px; /*dimension*/
--main-big-padding: 40px; /*dimension*/
--main-input-label-offset-bottom: 3px; /*dimension*/
--main-input-horizontal-padding: 15px; /*dimension*/
--main-input-vertical-padding: var(--main-padding); /*dimension*/
--main-text-size: var(--main-size); /*dimension*/
--radio-size-small: 11px; /*dimension*/
--radio-border-radius: 50%; /*dimension*/
--radio-font-size: var(--main-small-text); /*dimension*/
--checkbox-size: 21px; /*dimension*/
--checkbox-border-radius: 5px; /*dimension*/
--checkbox-label-offset-left: 10px; /*dimension*/
--checkbox-icon-width: 10px; /*dimension*/
--checkbox-icon-height: 10px; /*dimension*/
--select-label-size: var(--main-small-text); /*dimension*/
--select-border-radius: var(--main-input-radius); /*dimension*/
--select-border-width: var(--main-input-border-width); /*dimension*/
--select-drop-max-width: 268px; /*dimension*/
--select-text-weight: 400; /*dimension*/
--select-opened-text-opacity: 0.4; /*dimension*/
--switch-width-size: 46px; /*dimension*/
--switch-pointer-size: 21px; /*dimension*/
--switch-pointer-border-radius: 50%; /*dimension*/
--switch-border-radius: 38px; /*dimension*/
--switch-padding: 3px; /*dimension*/
--text-base-size: var(--main-text-size); /*dimension*/
--text-input-label-size: var(--main-input-label-size); /*dimension*/
--text-input-border-width: var(--main-input-border-width); /*dimension*/
--text-input-border-radius: var(--main-input-radius); /*dimension*/
--text-input-text-size: var(--main-size); /*dimension*/
--text-input-horizontal-padding: var(--main-input-horizontal-padding); /*dimension*/
--text-input-vertical-padding: var(--main-input-vertical-padding); /*dimension*/
--text-area-label-size: var(--main-input-label-size); /*dimension*/
--text-area-border-width: var(--main-input-border-width); /*dimension*/
--text-area-border-radius: var(--main-input-radius); /*dimension*/
--text-area-text-size: var(--main-size); /*dimension*/
--text-area-horizontal-padding: var(--main-input-horizontal-padding); /*dimension*/
--text-area-vertical-padding: var(--main-input-vertical-padding); /*dimension*/
--player-aspect-ration: 56.52%; /*dimension*/
--player-btn-size: 40px; /*dimension*/
--player-btn-radius: 50%; /*dimension*/
--player-btn-font-size: 24px; /*dimension*/
--section-player-offer-bottom: 52px; /*dimension*/
--section-player-offer-left: 50%; /*dimension*/
--section-player-max-width: 434px; /*dimension*/
--action-icon-width: 10px; /*dimension*/
--action-icon-min-width-middle: 15px; /*dimension*/
--action-icon-min-width-large: 26px; /*dimension*/
--button-font-size: var(--main-size); /*dimension*/
--button-padding-horizontal: 29px; /*dimension*/
--button-padding-vertical: 15px; /*dimension*/
--button-border-radius: var(--main-input-radius); /*dimension*/
--button-border-width: var(--main-input-border-width); /*dimension*/
--button-small-font-size: var(--main-smallest-text); /*dimension*/
--button-small-padding-horizontal: 19px; /*dimension*/
--button-small-padding-vertical: 9px; /*dimension*/
--button-small-border-radius: var(--main-input-radius); /*dimension*/
--button-small-border-width: var(--main-input-border-width); /*dimension*/
--zeen-burger-width: 30px;
--zeen-burger-height: 25px;
--button-small-gap: 7px; /*dimension*/
--card-product-text-padding: var(--main-padding); /*dimension*/
--card-product-border-radius: 0; /*dimension*/
--card-product-not-availabel-border-radius: 8px; /*dimension*/
--card-product-stock-font-size: var(--main-small-text); /*dimension*/
--card-product-stock-border-radius: 5px; /*dimension*/
--card-product-stock-top-offset: 20px; /*dimension*/
--card-product-stock-horizontal-padding: 20px; /*dimension*/
--card-product-stock-vertical-padding: 7px; /*dimension*/
--card-product-information-top-padding: 12px; /*dimension*/
--card-product-information-vertical-padding: 30px; /*dimension*/
--card-product-category-font-size: var(--main-input-label-size); /*dimension*/
--card-product-category-bottom-offset: 13px; /*dimension*/
--card-product-title-font-size: var(--main-size); /*dimension*/
--card-product-title-bottom-offset: 8px; /*dimension*/
--card-product-description-font-size: var(--main-smallest-text); /*dimension*/
--card-product-description-bottom-offset: 6px; /*dimension*/
--card-product-price-font-size: var(--main-large-size); /*dimension*/
--card-product-price-bottom-offset: 6px; /*dimension*/
--card-product-currency-font-size: var(--main-smallest-text); /*dimension*/
--card-product-currency-bottom-offset: 10px; /*dimension*/
--card-product-footer-top-offset: var(--main-padding); /*dimension*/
--card-product-text-font-size: var(--main-large-size); /*dimension*/
--card-product-text-rotate: -15deg; /*dimension*/
--card-product-text-border-width: 3px; /*dimension*/
--container-base-width: 1196px; /*dimension*/
--container-base-padding: 15px; /*dimension*/
--quiz-card-title-font-size: 24px; /*dimension*/
--quiz-card-description-font-size: 14px; /*dimension*/
--quiz-card-title-margin-top: 34px; /*dimension*/
--quiz-card-title-margin-bottom: 20px; /*dimension*/
--quiz-card-title-font-weight: 700; /*dimension*/
--faq-row-title-size: var(--main-large-size); /*dimension*/
--faq-row-description-size: var(--main-size); /*dimension*/
--faq-row-border-width: 1px; /*dimension*/
--faq-row-description-padding-right: 80px; /*dimension*/
--faq-row-description-padding-bottom: 80px; /*dimension*/
--faq-row-description-padding-left: 50px; /*dimension*/
--faq-row-description-offset-top: -20px; /*dimension*/
--faq-radio-padding-vertical: 40px; /*dimension*/
--faq-radio-padding-horizontal: 50px; /*dimension*/
--faq-icon-width: 16px; /*dimension*/
--faq-icon-height: 8px; /*dimension*/
--banner-padding-vertical: 50px;  /*dimension*/
--banner-padding-horizontal: 80px;  /*dimension*/
--headline-size: var(--main-bigger-size); /*dimension*/
--headline-size-middle: var(--main-large-size); /*dimension*/
--headline-size-big: var(--main-larger-size); /*dimension*/
--headline-size-large: var(--main-largest-size); /*dimension*/
--headline-size-unreal: var(--main-notbigget-size); /*dimension*/
--headline-size-line-height: 1.44; /*dimension*/
--headline-padding-vertical: 0; /*dimension*/
--headline-padding-horizontal: 0; /*dimension*/
--headline-margin-vertical: 0; /*dimension*/
--headline-margin-horizontal: 0; /*dimension*/
--link-size: var(--main-text-size); /*dimension*/
--modal-max-width-desktop: 600px; /*dimension*/
--modal-large-max-width: 900px; /*dimension*/
--modal-base-gap: 50px; /*dimension*/
--modal-padding-top: 70px; /*dimension*/
--modal-padding-horizon: 50px; /*dimension*/
--modal-border-radius: 5px; /*dimension*/
--modal-text-size: var(--main-text-size); /*dimension*/
--modal-title-size: var(--main-larger-size); /*dimension*/
--modal-padding-bottom: var(--modal-padding-horizon); /*dimension*/
--modal-footer-margin-top: var(--modal-base-gap); /*dimension*/
--modal-icon-padding-bottom: var(--modal-base-gap); /*dimension*/
--modal-close-gap: var(--main-big-padding); /*dimension*/
--modal-close-size: 20px; /*dimension*/
--nav-drop-list-max-width: 100%; /*dimension*/
--nav-drop-list-border-radius: var(--main-input-radius); /*dimension*/
--nav-drop-list-max-height: 14em; /*dimension*/
--nav-drop-list-font-size: var(--main-text-size); /*dimension*/
--nav-drop-list-border-width: var(--main-input-border-width); /*dimension*/
--nav-drop-list-title-font-size: var(--main-small-text); /*dimension*/
--nav-drop-list-title-right-offset: 7px; /*dimension*/
--nav-drop-list-title-icon-size: 13px; /*dimension*/
--nav-drop-list-title-icon-right-offset: 5px; /*dimension*/
--nav-drop-list-icon-size: 15px; /*dimension*/
--nav-drop-list-icon-right-offset: 10px; /*dimension*/
--nav-drop-list-item-link-vertical-padding: 7px; /*dimension*/
--nav-drop-list-item-link-horizontal-padding: 15px; /*dimension*/
--zeen-over-width: 100%; /*dimension*/
--zeen-over-mini-width: 350px; /*dimension*/
--zeen-over-button-rigth: -50px; /*dimension*/
--zeen-over-button-left: -50px; /*dimension*/
--zeen-over-icon-size: 20px; /*dimension*/
--zeen-over-icon-border-radius: 4px; /*dimension*/
--zeen-over-button-size: var(--zeen-over-icon-size); /*dimension*/
--zeen-over-button-border-width: 5px; /*dimension*/
--zeen-over-button-rotate: 135deg; /*dimension*/
--zeen-schedule-container-max-width: 100%; /*dimension*/
--zeen-over-icon-bottom: 30px; /*dimension*/
--zeen-over-icon-left: 30px; /*dimension*/
--picture-border-radius: var(--main-input-radius); /*dimension*/
--picture-max-width: 100%; /*dimension*/
--picture-max-height: 100%; /*dimension*/
--progress-bar-border-radius: var(--main-input-radius); /*dimension*/
--progress-bar-height: 4px; /*dimension*/
--progress-bar-percent-border-radius: 15px; /*dimension*/
--progress-bar-text-offset: 12px; /*dimension*/
--progress-bar-persent-font-size: var(--main-larger-size); /*dimension*/
--scroll-bar-radius: var(--main-input-radius); /*dimension*/
--scroll-bar-background-radius: var(--main-input-radius); /*dimension*/
--scroll-bar-size-scroll: 10px; /*dimension*/
--zeen-sidebar-width: 100%; /*dimension*/
--zeen-sidebar-padding-top: 0px; /*dimension*/
--zeen-sidebar-padding-bottom: 0px; /*dimension*/
--zeen-sidebar-padding-left: 0px; /*dimension*/
--zeen-sidebar-padding-right: 0px; /*dimension*/
--zeen-sidebar-filter-blur: 5px; /*dimension*/
--small-badge-radius: 4px; /*dimension*/
--small-badge-padding-horizontal: 12px; /*dimension*/
--small-badge-padding-vertical: 6px; /*dimension*/
--small-badge-size: var(--main-smallest-text); /*dimension*/
--speaker-card-base-padding: 25px; /*dimension*/
--speaker-card-border-radius: 5px; /*dimension*/
--speaker-card-picture-border-radius: 0px; /*dimension*/
--speaker-card-title-size: var(--main-text-size); /*dimension*/
--speaker-card-text-size: var(--main-smallest-text); /*dimension*/
--speaker-card-list-icon-list-margin-top: 20px; /*dimension*/
--speaker-card-list-icon-margin-right: 20px; /*dimension*/
--zeen-speaker-card-border-size: 0px; /*dimension*/
--zeen-speaker-card-image-radius-start-start: 12px; /*dimension*/
--zeen-speaker-card-image-radius-start-end: 12px; /*dimension*/
--zeen-speaker-card-image-radius-end-start: 0px; /*dimension*/
--zeen-speaker-card-image-radius-end-end: 0px; /*dimension*/
--zeen-speaker-card-headline-margin-top: 0px; /*dimension*/
--zeen-speaker-card-headline-bottom: 6px; /*dimension*/
--zeen-speaker-card-headline-size: var(--main-size); /*dimension*/
--zeen-speaker-card-headline-font-weight: 500; /*dimension*/
--zeen-speaker-card-text-bottom: 0px; /*dimension*/
--speaker-item-name-size: var(--main-text-size); /*dimension*/
--speaker-item-image-size: 50px; /*dimension*/
--stream-program-item-padding: 35px; /*dimension*/
--stream-program-item-border-radius: var(--main-input-radius); /*dimension*/
--stream-program-item-title-font-size: var(--main-bigger-size); /*dimension*/
--stream-program-item-title-mobile-font-size: var(--main-larger-size); /*dimension*/
--stream-table-arrow-width: 80px; /*dimension*/
--stream-table-dot-width: 10px; /*dimension*/
--switch-chose-radius: var(--main-input-radius); /*dimension*/
--switch-chose-padding-horizontal: 15px; /*dimension*/
--switch-chose-padding-vertical: 23px; /*dimension*/
--switch-chose-size: 12px; /*dimension*/
--switch-chose-margin-horizontal: 20px; /*dimension*/
--zeen-tab-full-size: 100%; /*dimension*/
--zeen-tab-height: 40px; /*dimension*/
--zeen-tab-border-width: 1px; /*dimension*/
--zeen-tab-fontsize: var(--main-smallest-text); /*dimension*/
--zeen-tab-border-bottom-size: 3px; /*dimension*/
--zeen-tab-container-basis: 50%; /*dimension*/
--zeen-card-max-width: 375px; /*dimension*/
--zeen-card-max-height: 500px; /*dimension*/
--zeen-card-min-height: 460px; /*dimension*/
--zeen-card-button-icon-width: 15px; /*dimension*/
--zeen-card-border-radius: 0; /*dimension*/
--zeen-card-box-shadow: 0; /*dimension*/
--zeen-card-border: 0; /*dimension*/
--zeen-card-box-shadow-hover: 0; /*dimension*/
--zeen-card-border-radius-hover: var(--zeen-card-border-radius); /*dimension*/
--zeen-card-padding-vertical: 50px; /*dimension*/
--zeen-card-padding-horizontal: 50px; /*dimension*/
--zeen-card-button-margin-top: 50px; /*dimension*/
--zeen-card-button-icon-margin-left: 10px; /*dimension*/
--zeen-card-transition: 0.2s; /*dimension*/
--quiz-card-title-line-height: 1.3; /*dimension*/
--quiz-card-description-font-weight: 400; /*dimension*/
--quiz-card-description-line-height: 1.4; /*dimension*/
--zeen-card-picture-margin-top: 0px; /*dimension*/
--zeen-card-picture-margin-right: 0px; /*dimension*/
--zeen-card-picture-margin-bottom: 0px; /*dimension*/
--zeen-card-picture-margin-left: 0px; /*dimension*/
--quiz-swiper-padding-bottom: 50px; /*dimension*/
--quiz-card-border-radius: 12px; /*dimension*/
--time-label-size: var(--main-small-text); /*dimension*/
--time-label-border-radius: 100px; /*dimension*/
--time-label-dot-size: 5px; /*dimension*/
--time-label-dot-border-radius: 50%; /*dimension*/
--time-label-font-weight: 400; /*dimension*/
--zeen-schedule-card-live-padding-horizontal: 7px; /*dimension*/
--zeen-schedule-card-live-padding-vertical: 5px; /*dimension*/
--zeen-speaker-card-text-size: 12px; /*dimension*/
--zeen-speaker-section-headline-speaker-card: 16px; /*dimension*/
--zeen-speaker-card-text-top: 10px; /*dimension*/
--zeen-card-min-width: 220px; /*dimension*/
--banner-radius: 5px; /*dimension*/
--section-player-padding-top: 100px; /*dimension*/
--section-player-padding-bottom: 100px; /*dimension*/
--zeen-voting-main-fontsize: var(--main-text-size); /*dimension*/
--zeen-voting-grid-gap: 20px; /*dimension*/
--zeen-voting-results-grid-gap: 40px; /*dimension*/
--banner-title-fontsize: var(--main-larger-size); /*dimension*/
--banner-description-fontsize: var(--main-large-size); /*dimension*/
--banner-gap: 40px; /*dimension*/
--banner-text-gap: 20px; /*dimension*/
--banner-small-gap: 20px; /*dimension*/
--zeen-schedule-card-min-width: 105px; /*dimension*/
--zeen-schedule-card-padding-vertical: var(--main-padding); /*dimension*/
--zeen-schedule-card-padding-horizontal: var(--main-padding); /*dimension*/
--zeen-schedule-card-border-radius: 5px; /*dimension*/
--zeen-schedule-card-title-size: var(--main-small-text); /*dimension*/
--zeen-schedule-card-title-line-height: 1.42; /*dimension*/
--zeen-schedule-card-title-font-weight: 700; /*dimension*/
--zeen-schedule-card-subtitle-size: var(--main-smallest-text); /*dimension*/
--zeen-schedule-card-subtitle-line-height: 1.5; /*dimension*/
--zeen-schedule-card-subtitle-font-weight: 400; /*dimension*/
--zeen-schedule-card-subtitle-margin-top: 10px; /*dimension*/
--zeen-schedule-card-live-margin-right: 10px; /*dimension*/
--zeen-schedule-card-live-border-radius: 5px; /*dimension*/
--zeen-schedule-card-live-img-size: var(--action-icon-min-width-middle); /*dimension*/
--zeen-schedule-card-live-text: var(--main-smallest-text); /*dimension*/
--zeen-schedule-card-live-text-line-height: 1.33; /*dimension*/
--zeen-schedule-card-live-text-font-weight: 600px; /*dimension*/
--zeen-schedule-card-live-text-margin-left: 4px; /*dimension*/
--zeen-schedule-card-time-text: var(--main-small-text); /*dimension*/
--zeen-schedule-card-time-text-line-height: 1.42; /*dimension*/
--zeen-schedule-card-time-text-font-weight: 700; /*dimension*/
--zeen-schedule-card-button-size: 16px; /*dimension*/
--zeen-schedule-card-footer-margin-top: 30px; /*dimension*/
--zeen-speech-modal-padding-top: 60px; /*dimension*/
--zeen-speech-modal-padding-horizon: 50px; /*dimension*/
--zeen-speech-modal-padding-bottom: 50px; /*dimension*/
--zeen-speech-modal-margin-vertical: 0px; /*dimension*/
--zeen-speech-modal-title-size: var(--main-large-size); /*dimension*/
--zeen-speech-modal-title-weight: 700; /*dimension*/
--zeen-speech-modal-title-line-height: 1.33; /*dimension*/
--zeen-speech-modal-info-margin-top: 30px; /*dimension*/
--zeen-speech-modal-time-size: var(--main-size); /*dimension*/
--zeen-speech-modal-time-weight: 500; /*dimension*/
--zeen-speech-modal-time-line-height: 1.37; /*dimension*/
--zeen-speech-modal-dot-margin-horizon: 10px; /*dimension*/
--zeen-speech-modal-dot-size: 4px; /*dimension*/
--zeen-speech-modal-dot-radius: 50%; /*dimension*/
--zeen-speech-modal-action-margin-top: 20px; /*dimension*/
--zeen-speech-modal-speakers-margin-top: 30px; /*dimension*/
--zeen-speech-modal-speakers-margin-bottom: 10px; /*dimension*/
--zeen-speech-modal-speakers-item-padding: 10px; /*dimension*/
--zeen-schedule-modal-padding-top: 50px; /*dimension*/
--zeen-schedule-modal-padding-horizon: 50px; /*dimension*/
--zeen-schedule-modal-padding-bottom: 50px; /*dimension*/
--zeen-schedule-modal-description-margin-vertical: 0px; /*dimension*/
--zeen-schedule-modal-title-size: 36px; /*dimension*/
--zeen-schedule-modal-title-line-height: 1.16; /*dimension*/
--zeen-schedule-modal-title-font-weight: 700; /*dimension*/
--zeen-schedule-modal-more-size: 160; /*dimension*/
--zeen-schedule-modal-more-line-height: 1.37; /*dimension*/
--zeen-schedule-modal-more-font-weight: 500; /*dimension*/
--zeen-schedule-modal-more-margin-top: 10px; /*dimension*/
--zeen-schedule-modal-item-padding: 40px; /*dimension*/
--zeen-schedule-modal-item-border-size: 1px; /*dimension*/
--zeen-schedule-modal-hall-size: 24px; /*dimension*/
--zeen-schedule-modal-hall-line-height: 1.33; /*dimension*/
--zeen-schedule-modal-hall-font-weight: 700; /*dimension*/
--zeen-schedule-modal-hall-margin-bottom: 20px; /*dimension*/
--zeen-schedule-modal-hall-max-width: 75%; /*dimension*/
--zeen-schedule-modal-time-size: 14px; /*dimension*/
--zeen-schedule-modal-time-line-height: 1.71; /*dimension*/
--zeen-schedule-modal-time-font-weight: 400; /*dimension*/
--zeen-schedule-modal-speach-title-size: 18px; /*dimension*/
--zeen-schedule-modal-speach-title-line-height: 1.33; /*dimension*/
--zeen-schedule-modal-speach-title-font-weight: 500; /*dimension*/
--zeen-schedule-modal-btn-margin-top: 40px; /*dimension*/
--zeen-schedule-speakers-top-margin-bottom: 30px; /*dimension*/
--zeen-schedule-speakers-title-size: var(--main-bigger-size); /*dimension*/
--zeen-schedule-speakers-title-font-weight: 500; /*dimension*/
--zeen-schedule-speakers-title-line-height: 1.33; /*dimension*/
--zeen-schedule-speakers-arrow-margin-right: 25px; /*dimension*/
--zeen-schedule-speakers-speaker-item-margin-bottom: 20px; /*dimension*/
--zeen-speaker-section-top-margin-bottom: 30px; /*dimension*/
--zeen-speaker-section-padding-bottom-swiper: 50px; /*dimension*/
--zeen-speaker-section-position-pagination: left; /*dimension*/
--zeen-speaker-section-size-bullet: 10px; /*dimension*/
--zeen-speaker-section-gap-bullet: 18px; /*dimension*/
--zeen-speaker-section-action-margin-bottom: 56px; /*dimension*/
--zeen-speaker-section-action-bottom-margin-top: 0px; /*dimension*/
--zeen-speaker-section-headline-size: 48px; /*dimension*/
--zeen-schedule-header-margin-bottom: 32px; /*dimension*/
--zeen-schedule-arrows-width: 80px; /*dimension*/
--zeen-schedule-col-padding-bottom: 36px; /*dimension*/
--zeen-schedule-time-text-size: var(--main-large-size); /*dimension*/
--zeen-schedule-time-line-height: 1.5; /*dimension*/
--zeen-schedule-time-font-weight: 400; /*dimension*/
--zeen-schedule-time-width: 130px; /*dimension*/
--zeen-schedule-col-line-size: 750px; /*dimension*/
--zeen-schedule-row-height: 235px; /*dimension*/
--zeen-schedule-hall-text-size: var(--main-small-text); /*dimension*/
--zeen-schedule-hall-line-height: 1.42; /*dimension*/
--zeen-schedule-hall-font-weight: 700; /*dimension*/
--zeen-schedule-hall-padding-vertical: 5px; /*dimension*/
--zeen-schedule-hall-padding-horizontal: 30px; /*dimension*/
--zeen-schedule-hall-arrow-size: 11px; /*dimension*/
--zeen-schedule-hall-arrow-margin-left: 10px; /*dimension*/
--zeen-schedule-online-img-size: 16px; /*dimension*/
--zeen-schedule-card-height: 160px; /*dimension*/
--faq-support-margin-top: 30px; /*dimension*/
--faq-support-margin-bottom: 50px; /*dimension*/
--faq-support-left-max-width: 474px; /*dimension*/
--faq-support-left-height: 266px; /*dimension*/
--faq-support-left-border-radius: 12px; /*dimension*/
--faq-support-left-margin-right: 50px; /*dimension*/
--faq-support-title-font-weight: bold; /*dimension*/
--faq-support-title-font-size: var(--main-larger-size); /*dimension*/
--faq-support-title-line-height: 42px; /*dimension*/
--faq-support-title-margin-bottom: 35px; /*dimension*/
--faq-support-title-margin-top: 0px; /*dimension*/
--faq-support-subtitle-font-size: var(--main-large-size); /*dimension*/
--faq-support-subtitle-line-height: 32px; /*dimension*/
--faq-support-subtitle-font-weight: normal; /*dimension*/
--zeen-slide-toggle-size: var(--main-size); /*dimension*/
--zeen-social-link-icon-width-height-size: 47px; /*dimension*/
--zeen-social-link-icon-size: var(--main-size); /*dimension*/
--zeen-social-link-icon-border-radius: 50px; /*dimension*/
--zeen-social-link-icon-border-width: 1px; /*dimension*/
--zeen-speaker-section-layout-table-gap-y: 50px; /*dimension*/
--zeen-speaker-section-layout-table-gap-x: 19px; /*dimension*/
--zeen-speaker-section-layout-table-repeat: 4; /*dimension*/
--zeen-speaker-section-layout-table-card-height: 278px; /*dimension*/
--zeen-speaker-section-layout-table-main-headline-margin-bottom: 50px; /*dimension*/
--zeen-time-range-size: var(--main-size); /*dimension*/
--zeen-schedule-item-size: var(--main-size); /*dimension*/
--zeen-schedule-item-button-icon-size: 16px; /*dimension*/
--zeen-schedule-item-button-icon-margin-left: 10px; /*dimension*/
--zeen-quiz-font-size: 24px; /*dimension*/
--zeen-quiz-line-height: 1.3; /*dimension*/
--zeen-quiz-font-weight: 600; /*dimension*/
--zeen-quiz-title-margin-bottom: 15px; /*dimension*/
--zeen-quiz-picture-margin-top: 30px; /*dimension*/
--zeen-quiz-picture-margin-bottom: 30px; /*dimension*/
--zeen-quiz-hr-margin: 31px; /*dimension*/
--zeen-quiz-description-answers-font-size: 14px; /*dimension*/
--zeen-quiz-description-answers-line-height: 1.4; /*dimension*/
--zeen-quiz-description-number-font-size: 48px; /*dimension*/
--zeen-quiz-description-number-font-weight: 600; /*dimension*/
--zeen-quiz-description-number-line-height: 1.08; /*dimension*/
--zeen-quiz-description-margin-top: 15px; /*dimension*/
--zeen-quiz-subtitle-font-weight: 400; /*dimension*/
--zeen-quiz-subtitle-font-size: 16px; /*dimension*/
--zeen-quiz-subtitle-line-height: 1.5; /*dimension*/
--zeen-quiz-question-font-size: 16px; /*dimension*/
--zeen-quiz-question-font-weight: 400; /*dimension*/
--zeen-quiz-question-line-height: 1.5; /*dimension*/
--zeen-quiz-question-margin-top: 30px; /*dimension*/
--zeen-quiz-question-margin-bottom: 15px; /*dimension*/
--zeen-quiz-number-font-size: 24px; /*dimension*/
--zeen-quiz-number-font-weight: 600px; /*dimension*/
--zeen-quiz-subtitle-padding-top: 0px; /*dimension*/
--quiz-arrows-phone-margin-top: 30px; /*dimension*/
--quiz-actions-margin-bottom: 56px; /*dimension*/
----quiz-swiper-padding-top: 56px; /*dimension*/
--card-list-per-view: 4; /*dimension*/
--card-list-item-width: 100%; /*dimension*/
--card-list-items-gap: 20px; /*dimension*/
--card-list-padding-vertical: 100px; /*dimension*/
--zeen-avatar-size: var(--main-size); /*dimension*/
--intro-padding-top: 80px; /*dimension*/
--intro-padding-bottom: 80px; /*dimension*/
--zeen-slider-section-size: var(--main-size); /*dimension*/
--zeen-offer-border-radius: 10px; /*dimension*/
--zeen-offer-padding-horizontal: 20px; /*dimension*/
--zeen-offer-padding-vertical: 24px; /*dimension*/
--zeen-offer-close-icon-size: 8px; /*dimension*/
--zeen-offer-picture-size: 64px; /*dimension*/
--zeen-offer-picture-margin-right: 20px; /*dimension*/
--zeen-offer-title-font-size: var(--main-size); /*dimension*/
--zeen-offer-title-line-height: 1.37; /*dimension*/
--zeen-offer-title-padding-bottom: 9px; /*dimension*/
--zeen-offer-title-font-weight: 600; /*dimension*/
--zeen-offer-description-font-size: var(--main-size); /*dimension*/
--zeen-offer-description-line-height: 1.37; /*dimension*/
--zeen-offer-description-padding-bottom: 9px; /*dimension*/
--zeen-offer-description-font-weight: 600; /*dimension*/
--zeen-offer-link-font-size: var(--main-small-text); /*dimension*/
--zeen-offer-link-line-height: 1.4; /*dimension*/
--zeen-offer-link-font-weight: 600; /*dimension*/
--zeen-player-block-title-margin-bottom: 30px; /*dimension*/
--zeen-player-block-title-margin-top: 0px; /*dimension*/
--zeen-player-block-row-gap: 30px; /*dimension*/
--zeen-player-padding-block-top: 100px; /*dimension*/
--zeen-player-padding-block-bottom: 100px; /*dimension*/
--zeen-player-padding-title-size: 24px; /*dimension*/
--zeen-player-padding-title-line-height: 32px; /*dimension*/
--zeen-player-padding-aside-witdh: 323px; /*dimension*/
--radio-size: var(--checkbox-size); /*dimension*/
--radio-label-offset: var(--checkbox-label-offset); /*dimension*/
--main-color: #FF00FB; /*color*/
--main-light-color: #86FF00; /*color*/
--main-transparent: rgba(255, 0, 255, 0.1); /*color*/
--main-dark-color: #a904a6; /*color*/
--main-success-color: rgb(4, 191, 16); /*color*/
--main-danger-color: rgb(255, 77, 77); /*color*/
--main-hover-color: #c505c2; /*color*/
--main-active-color: var(--main-dark-color); /*color*/
--main-positive-color: #181818; /*color*/
--main-text-color: var(--main-positive-color); /*color*/
--main-negative-color: rgb(26, 26, 26); /*color*/
--theme-color: var(--main-color); /*color*/
--main-light: #fff; /*color*/
--gray-1: rgb(237, 237, 237); /*color*/
--gray-2: #908494; /*color*/
--gray-3: #B3B1B4; /*color*/
--dark-1: #363636; /*color*/
--action-icon-color: var(--main-color); /*color*/
--action-icon-hover-color: var(--main-hover-color); /*color*/
--action-icon-focus-color: var(--main-hover-color); /*color*/
--action-icon-active-color: var(--main-active-color); /*color*/
--action-icon-disable-color: var(--main-disable-text-color); /*color*/
--faq-row-title-color: var(--main-light); /*color*/
--faq-row-title-open-base-color: var(--main-color); /*color*/
--faq-row-link-hover-base-color: var(--main-hover-color); /*color*/
--faq-row-description-color: var(--gray-3); /*color*/
--text-area-background: var(--dark-1); /*color*/
--speaker-item-name-color: var(--main-light); /*color*/
--speaker-item-name-hover-color: var(--main-light); /*color*/
--speaker-item-post-color: var(--main-light); /*color*/
--speaker-item-company-color: var(--gray-2); /*color*/
--faq-row-background: var(--main-positive-color); /*color*/
--faq-row-border-color: var(--dark-1); /*color*/
--faq-list-bordre-radius: 0; /*color*/
--faq-row-icon-color: var(--gray-3); /*color*/
--faq-row-icon-base-color: var(--gray-3); /*color*/
--zeen-speaker-card-title-color: var(--main-light); /*color*/
--zeen-speaker-card-text-color: var(--gray-2); /*color*/
--main-disable-color: var(--gray-1); /*color*/
--main-disable-text-color: var(--gray-2); /*color*/
--button-main-color: var(--main-color); /*color*/
--button-background-color: var(--button-main-color); /*color*/
--button-border-color: rgba(0, 0, 0, 0); /*color*/
--zeen-tab-border-color: var(--dark-1); /*color*/
--zeen-message-text-color: var(--main-light); /*color*/
--button-additional-color: #ffffff; /*color*/
--zeen-sidebar-background: var(--main-positive-color); /*color*/
--button-hover-color: var(--main-hover-color); /*color*/
--button-click-color: var(--main-active-color); /*color*/
--button-disabled-background-color: var(--main-disable-color); /*color*/
--button-disabled-color: var(--main-disable-text-color); /*color*/
--button-text-color: var(--button-additional-color); /*color*/
--button-text-alter-color: var(--button-main-color); /*color*/
--small-badge-background: var(--main-light-color); /*color*/
--section-player-title-color: var(--main-light); /*color*/
--small-badge-color: #000; /*color*/
--zeen-card-background: var(--main-positive-color); /*color*/
--zeen-card-background-hover: var(--main-positive-color); /*color*/
--banner-bg-color: rgba(165, 251, 4, 0.1); /*color*/
--zeen-quiz-title-color: var(--main-light); /*color*/
--zeen-quiz-subtitle-color: var(--main-light); /*color*/
--zeen-quiz-description-answers-color: var(--main-light); /*color*/
--zeen-quiz-description-number-color: var(--main-light); /*color*/
--zeen-quiz-description-number-right-color: var(--main-light-color); /*color*/
--quiz-card-title-color: var(--main-light); /*color*/
--quiz-card-description-color: var(--gray-2); /*color*/
--quiz-arrows-stroke-color: var(--main-color); /*color*/
--quiz-swiper-icon-disabled-color: var(--gray-3); /*color*/
--zeen-quiz-number-count-color: var(--main-light-color); /*color*/
--zeen-quiz-number-color: var(--gray-2); /*color*/
--modal-text-color: var(--main-light); /*color*/
--zeen-speech-modal-status-color-hold: var(--gray-2); /*color*/
--checkbox-background-color: rgb(0, 0, 0); /*color*/
--checkbox-label-color: var(--main-text-color); /*color*/
--checkbox-checked-background-color: var(--main-color); /*color*/
--checkbox-error-label-color: rgb(0, 0, 0); /*color*/
--checkbox-error-checked-background-color: rgb(0, 0, 0); /*color*/
--checkbox-correct-label-color: rgb(0, 0, 0); /*color*/
--checkbox-correct-background-color: rgb(0, 0, 0); /*color*/
--checkbox-disabled-background-color: rgb(0, 0, 0); /*color*/
--input-main-color: var(--main-color); /*color*/
--zeen-tab-container-background: var(--main-positive-color); /*color*/
--input-background-color: var(--main-positive-color); /*color*/
--zeen-card-button-icon-color: var(--main-color); /*color*/
--input-main-value-color: var(--main-light); /*color*/
--input-main-placeholder-color: var(--main-light); /*color*/
--input-correct-color: var(--main-success-color); /*color*/
--input-disable-color: var(--main-disable-color); /*color*/
--input-placeholder-disable-color: var(--main-disable-color); /*color*/
--input-error-color: var(--main-danger-color); /*color*/
--player-color: var(--main-color); /*color*/
--headline-color: var(--main-light); /*color*/
--speaker-card-title-color: var(--main-light); /*color*/
--player-footer-background: #181818; /*color*/
--modal-content-background: var(--main-positive-color); /*color*/
--modal-close-color: var(--main-light); /*color*/
--zeen-schedule-background: #000; /*color*/
--zeen-schedule-col-border: var(--dark-1); /*color*/
--zeen-schedule-time-color: var(--main-light); /*color*/
--zeen-schedule-col-line: var(--dark-1); /*color*/
--zeen-schedule-online-line: var(--main-danger-color); /*color*/
--zeen-schedule-online-img: var(--main-light); /*color*/
--zeen-schedule-hall: rgba(144, 132, 148, 0.1); /*color*/
--zeen-schedule-hall-active: rgba(255, 0, 251, 0.1); /*color*/
--zeen-schedule-hall-hover: rgba(255, 0, 251, 0.2); /*color*/
--zeen-schedule-hall-text: var(--gray-2); /*color*/
--zeen-schedule-hall-text-active: var(--main-color); /*color*/
--zeen-schedule-card-color: var(--main-light-color); /*color*/
--zeen-schedule-card-color-hold: rgba(24, 24, 24, 0.9); /*color*/
--zeen-schedule-card-color-done: rgba(24, 24, 24, 0.9); /*color*/
--zeen-schedule-card-box-shadow-color: rgba(0, 0, 0, 0.05); /*color*/
--zeen-schedule-card-live-color: #000; /*color*/
--zeen-schedule-card-text-color: #000; /*color*/
--zeen-schedule-card-text-color-hold: var(--main-light); /*color*/
--zeen-schedule-card-text-color-done: var(--main-light); /*color*/
--zeen-schedule-card-live-img-color: var(--main-light); /*color*/
--zeen-schedule-card-button-color: #000; /*color*/
--zeen-schedule-card-button-color-hold: var(--main-color); /*color*/
--zeen-schedule-card-button-color-done: var(--main-color); /*color*/
--radio-background-color: var(--main-light); /*color*/
--radio-label-color: var(--main-light); /*color*/
--zeen-schedule-modal-title-color: var(--main-light); /*color*/
--zeen-schedule-modal-hall-color: var(--main-light-color); /*color*/
--zeen-schedule-modal-time-color: var(--main-light); /*color*/
--zeen-schedule-modal-speach-title-color: var(--main-light); /*color*/
--zeen-schedule-modal-item-border-color: var(--dark-1); /*color*/
--zeen-schedule-speakers-title-color: var(--main-light); /*color*/
--radio-checked-background-color: var(--main-light); /*color*/
--radio-checked-color: var(--main-color); /*color*/
--radio-error-label-color: var(--input-error-color); /*color*/
--radio-error-checked-background-color: var(--input-error-color); /*color*/
--radio-correct-label-color: var(--input-correct-color); /*color*/
--radio-correct-background-color: var(--input-correct-color); /*color*/
--radio-disabled-label-color: var(--input-disable-color); /*color*/
--radio-disabled-background-color: var(--input-disable-color); /*color*/
--select-background-color: var(--input-background-color); /*color*/
--select-text-color: var(--input-main-value-color); /*color*/
--select-label-color: var(--select-text-color); /*color*/
--select-error-color: var(--input-error-color); /*color*/
--select-correct-color: var(--input-correct-color); /*color*/
--select-placeholder-color: var(--input-main-placeholder-color); /*color*/
--select-placeholder-disabled-color: var(--input-main-placeholder-color); /*color*/
--select-option-selected-color: var(--main-light); /*color*/
--select-option-color: var(--input-main-value-color); /*color*/
--select-options-background-color: var(--main-disable-color); /*color*/
--select-option-selected-background-color: var(--main-color); /*color*/
--select-border-color: rgba(0, 0, 0, 0); /*color*/
--select-label-error-color: var(--select-error-color); /*color*/
--select-border-error-color: var(--select-error-color); /*color*/
--select-label-correct-color: var(--select-correct-color); /*color*/
--select-border-correct-color: var(--select-correct-color); /*color*/
--switch-main: var(--main-color); /*color*/
--switch-second: var(--input-background-color); /*color*/
--switch-disable-pointer: var(--input-disable-color); /*color*/
--switch-disable-background: var(--input-background-color); /*color*/
}
@media screen and (max-width: 1366px) {
:root {
--container-base-width: 1190px; /*dimension*/
}
}

@media screen and (max-width: 1279px) {
:root {
--container-base-width: 974px; /*dimension*/
--faq-row-description-padding-right: 55px; /*dimension*/
--faq-row-description-padding-bottom: 20px; /*dimension*/
--faq-row-description-padding-left: 35px; /*dimension*/
--faq-row-description-offset-top: -5px; /*dimension*/
--faq-radio-padding-vertical: 30px; /*dimension*/
--faq-radio-padding-horizontal: 35px; /*dimension*/
--card-list-per-view: 3; /*dimension*/
}
}

@media screen and (max-width: 1023px) {
:root {
--container-base-width: 718px; /*dimension*/
--faq-row-description-padding-right: 51px; /*dimension*/
--card-list-per-view: 2; /*dimension*/
--card-list-padding-vertical: 80px; /*dimension*/
}
}

@media screen and (max-width: 767px) {
:root {
--main-section-padding-vertical: 50px; /*dimension*/
--main-notbigget-size: 48px; /*dimension*/
--main-largest-size: 36px; /*dimension*/
--main-larger-size: 24px; /*dimension*/
--main-large-size: 18px; /*dimension*/
--main-bigger-size: 16px; /*dimension*/
--main-small-text: 12px; /*dimension*/
--main-smallest-text: 10px; /*dimension*/
--main-big-padding: 20px; /*dimension*/
--container-base-width: 100%; /*dimension*/
--faq-row-description-padding-right: 40px; /*dimension*/
--faq-row-description-padding-bottom: 30px; /*dimension*/
--faq-row-description-padding-left: 25px; /*dimension*/
--faq-row-description-offset-top: -15px; /*dimension*/
--faq-radio-padding-horizontal: 25px; /*dimension*/
--modal-base-gap: 30px; /*dimension*/
--modal-padding-top: 50px; /*dimension*/
--modal-padding-bottom: 40px; /*dimension*/
--modal-padding-horizon: 30px; /*dimension*/
--modal-text-size: 14px; /*dimension*/
--modal-title-size: 24px; /*dimension*/
--modal-close-gap: 20px; /*dimension*/
--modal-close-size: 15px; /*dimension*/
--stream-program-item-padding: 30px; /*dimension*/
--banner-padding-vertical: 30px; /*dimension*/
--banner-padding-horizontal: 40px; /*dimension*/
--zeen-card-padding-vertical: 20px; /*dimension*/
--zeen-card-padding-horizontal: 25px; /*dimension*/
--quiz-card-title-font-size: 16px; /*dimension*/
--quiz-card-description-font-size: 14px; /*dimension*/
--quiz-arrows-phone-margin-top: 20px; /*dimension*/
--zeen-quiz-number-font-size: 14px; /*dimension*/
--zeen-quiz-number-font-weight: 400; /*dimension*/
--headline-size-large: 24px; /*dimension*/
--zeen-speech-modal-padding-top: 50px; /*dimension*/
--zeen-speech-modal-padding-horizon: 30px; /*dimension*/
--zeen-speech-modal-padding-bottom: 40px; /*dimension*/
--zeen-speaker-section-headline-size: 24px; /*dimension*/
}
}

